body{
    background-color: crimson;
    color: rgb(20, 140, 220);
    margin: 0px;
}

header{
    border-bottom: solid 2px whitesmoke;
    padding: 20px;
    font-size: 32px;
    color: whitesmoke;
}